body{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #3af0f7, #df1eb5);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 5;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
}

nav ul li a{
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
    color: black;
    text-decoration: none;
}


nav .logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo i{
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

nav .logo p{
    font-weight: bold;
}

@media (max-width: 420px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        width: 85%;
        text-align: center;
        padding-left: 0;
    }
}


@media (max-width: 340px) {
    nav ul{
        width: 80%;
    }
    nav ul li{
        font-size: 14px;
    }
}


@media (max-width: 270px) {
    nav ul{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    nav ul li{
        font-size: 10px;
        padding: 0px 10px;
    }

}

.hotDrinks{
    background: linear-gradient(to right, #3af0f7, #df1eb5);
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.landing {
    position: relative;
}

.folous{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 150px;
    font-size: 20px;
    height: fit-content;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;   
    font-weight: bold;
}

.folous i{
    color: blue;
}


.landing img{
    height: 100vh;
    width: 100%;
}

.hotimg img{
    width: 100%;
    height: 20vh;
    margin-bottom: 15px;
}

.head{
    padding: 20px 0;
    text-align: center;
}

.fullinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: rgba(240, 248, 255, 0.623);
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.coldDrinks{
    background: linear-gradient(to right, #3af0f7, #df1eb5);
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.play{
    background: linear-gradient(to right, #3af0f7, #df1eb5);
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.g{
    text-align: center;
}

.games{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
    border-top: 1px solid black;
}

footer{
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.fotericon{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fotericon a{
    cursor: pointer;
}

.fotericon a:nth-child(4){
    color: blue;
}

.fotericon a:nth-child(3){
    color: green;
}

footer{
    background-color: white;
    text-align: center;
    font-weight: bold;
}


.visitor-counter{
    text-align: center;
    margin: 10px auto;
    background-color: blueviolet;
}
